<body>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Ingresar</h3>
                </div>                
                <div *ngIf="!reintentar" class="card-body">
                    <form (submit)="ingresar()">
                        <div class="form-group">
                            <input type="number" name="dni_usuario" [(ngModel)]="user.dni_usuario" placeholder="Dni" class="form-control" (blur)="onBlurDniUsuario(user.dni_usuario)" autofocus>
                            <div [ngSwitch]="errorDniUsuario">
                                <div [ngSwitch]="errorDniUsuario">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">Usuario muy largo</div>
                                    <div *ngSwitchCase="3">Usuario debe ser numérico</div>
                                </div>
                            </div>                            
                            <input type="password" name="pwd_usuario" [(ngModel)]="user.pwd_usuario" placeholder="Contraseña" class="form-control" (blur)="onBlurPwdUsuario(user.pwd_usuario)">  
                            <div [ngSwitch]="errorPwdUsuario">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Contraseña muy larga</div>
                                <div *ngSwitchCase="3">Contraseña debe ser alfanumerica, admite mayusculas y un mínimo de 6 caracteres, no permite caracteres especiales.</div>
                            </div>                         
                            <button type="submit" class="btn btn-success btn-block" (click)="verificarForm()">Ingresar</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="reintentar" class="card-body">
                    {{mensaje}} <br>
                    <a class="btn btn-info" (click)=recargarForm()>Reintentar</a> 
                    <a class="btn btn-danger" routerLink="../principal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>    
</div>
</body>