<body> 
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" name="filterUsuarios" placeholder="Buscar apellido..."
                        [(ngModel)]="filterUsuarios">
                </div>
            </div>
        </div>
    </div>
    <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">            
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellido</th>        
            <th>Organismo</th>           
            <th>Provincia</th> 
            <th>Perfil</th> 
        </thead>
        <tbody *ngIf="usuarios.length > 0; else fila">
            <tr *ngFor=" let usuario of usuarios | filter:filterUsuarios">
                <td>{{usuario.dni_usuario}}</td>
                <td>{{usuario.nombre_usuario}}</td>
                <td>{{usuario.apellido_usuario}}</td>
                <td>{{usuario.organismo}}</td>
                <td>{{usuario.pcia_usuario}}</td>                    
                <td>{{usuario.perfil_usuario}}</td>                    
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="6">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>    
    <button class="btn btn-dark mr-3" id="botones" routerLink="../../usuarios/home">Volver</button>        
</body>