<body>
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Informe Tecnico para Productos Primarios
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" id="label">
                        <div class="form-row align-items-center">
                            <div class="container">
                                <strong>ANEXO III<br>
                                    INFORME TECNICO PARA PRODUCTOS PRIMARIOS<br>
                                    ACOMPAÑA A LA DECLARACION JURADA</strong><br><br>
                            </div>
                            <div class="container"><br><strong>DATOS DEL PRODUCTOR, LA PRODUCTORA O LA
                                    ORGANIZACION</strong><br><br></div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault01">Nombre</label>
                                    <input type="text" class="form-control" id="validationDefault01"
                                        placeholder="Nombre" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Apellido</label>
                                    <input type="text" class="form-control" id="validationDefault02"
                                        placeholder="Apellido" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Razon Social <em>(Organizacion)</em></label>
                                    <input type="text" class="form-control" id="validationDefault02"
                                        placeholder="Razon Social" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault04">DNI <em>(Individual)</em></label>
                                    <input type="text" class="form-control" id="validationDefault04" placeholder="DNI"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">CUIT</label>
                                    <input type="text" class="form-control" id="validationDefault05" placeholder="CUIT"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Correo Electronico</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Correo Electronico" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Telefono Movil</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Telefono Movil" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Telefono Fijo</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Telefono Fijo" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault04">Domicilio constituido</label>
                                    <input type="text" class="form-control" id="validationDefault04"
                                        placeholder="Direccion" required>
                                </div>
                                <label>Domicilio y datos de georreferenciamiento del/de los predios donde se desarrolla
                                    la producción (consignar longitud y
                                    latitud y adjuntar mapa):</label>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Domicilio</th>
                                            <th>Latitud</th>
                                            <th>Longitud</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>                                            
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container"><br><strong>Listado de producto/s para los cuales se solicita
                                    autorización /ampliación</strong><br><br></div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Producto</th>
                                        <th>Producto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>Breve descripción del proceso productivo
                                            del/ de los producto/s que se desea/n incluir en la autorización /
                                            ampliación de uso temporario del Sello “Producido por la Agricultura
                                            Familiar”</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="100"
                                        placeholder="Describir el proceso productivo enfatizando los aspectos productivos, socioculturales y/o económicos, característicos de la Agricultura Familiar. Nombrar los atributos que distingan el/la productor/a o la organización, el/la técnico/a y/o la comunidad.
        A modo de guía, considerar:
        Para aspectos productivos:
                ● Origen vegetal: Siembra/Plantación: tipo, fecha, material utilizado, etc. Labores culturales: manejo-control de plagas, enfermedades y malezas; podas; raleos; fertilización-nutrición; etc. Tareas: manuales, tracción animal, mecanización. Insumos utilizados: bioinsumos/agroquímicos/otros; etapas-momentos de aplicación. Riego: tipo/sistema; procedencia del agua. Cosecha: tipo, etc.
                ● Origen animal: Tipo de ganado/producción: raza, categorías, destino. Sistema productivo/ tipo de alimentación, Procedencia del agua de bebida y distribución. Sanidad: planes sanitarios/ productos utilizados. Prácticas de manejo, etc.
        Para atributos socioorganizacionales:
                ● Modo de organización y gestión del trabajo, modalidad de la toma de decisiones, participantes. Enfoque de género, de generación e intercultural.
                ● Utilización de conocimientos ancestrales, de los usos y costumbres de la región, de conocimientos adquiridos en la experiencia reciente en los diferentes eslabones de la cadena.
                ● Relación y cuidados específicos con el ambiente, la tierra, el agua, los bosques, etc.
        Para atributos económicos:
                ● Participación económica del/los producto/s para el/los que se solicita el SelloAF en la economía familiar."></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>¿QUIÉNES INTERVIENEN EN EL PROCESO PRODUCTIVO?</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"
                                        placeholder="Identificar a los/as diferentes participantes, incluido/a el/la solicitante. Describir el vínculo con el/la solicitante y el rol en el proceso productivo y señalar las tareas realizadas. Explicitar la participación de mujeres y jóvenes y detallar la particularidad de su rol o tareas. En el caso de empleados, describir la modalidad y temporalidad de la contratación."></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>ESTIMACIÓN DE LOS VOLÚMENES TOTALES DE PRODUCCIÓN INVOLUCRADOS </strong><em>(en base a datos de años precedentes
                                        y/o en función de proyecciones de crecimiento que surjan de los planes del solicitante):</em></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>OBSERVACIONES Y/O COMENTARIOS DEL/DE LA TÉCNICO/A HABILITADO/A</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"></textarea>
                                </div>
                            </div>
                            <div class="container"><br><strong>ADJUNTA ANEXOS</strong><br><br></div>
                            <div class="container">
                                <div class="form-row">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <label>MAPA</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline1">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline2">No</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <label for="myfile">Seleccione un archivo:</label>
                                        <input type="file" id="myfile" name="myfile">
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="form-row">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <label>FOTGRAFIAS</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="customRadioInline2"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline3">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline4" name="customRadioInline2"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline4">No</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <label for="myfile">Seleccione un archivo:</label>
                                        <input type="file" id="myfile" name="myfile">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>                            
                            <div class="form-group">
                                <label for="formGroupExampleInput"><strong>Fecha de Firma</strong></label>
                                <input type="date" class="form-control" id="formGroupExampleInput"
                                    placeholder="Example input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Informe Tecnico para Productos de Valor Agregado
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body" id="label">
                        <div class="form-row align-items-center">
                            <div class="container">
                                <strong>ANEXO IV<br>
                                    INFORME TECNICO PARA PRODUCTOS DE VALOR AGREGADO<br>
                                    ACOMPAÑA A LA DECLARACION JURADA</strong><br><br>
                            </div>
                            <div class="container"><br><strong>DATOS DEL PRODUCTOR, LA PRODUCTORA O LA
                                    ORGANIZACION</strong><br><br></div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault01">Nombre</label>
                                    <input type="text" class="form-control" id="validationDefault01"
                                        placeholder="Nombre" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Apellido</label>
                                    <input type="text" class="form-control" id="validationDefault02"
                                        placeholder="Apellido" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Razon Social <em>(Organizacion)</em></label>
                                    <input type="text" class="form-control" id="validationDefault02"
                                        placeholder="Razon Social" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault04">DNI <em>(Individual)</em></label>
                                    <input type="text" class="form-control" id="validationDefault04" placeholder="DNI"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">CUIT</label>
                                    <input type="text" class="form-control" id="validationDefault05" placeholder="CUIT"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Correo Electronico</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Correo Electronico" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Telefono Movil</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Telefono Movil" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Telefono Fijo</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Telefono Fijo" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault04">Domicilio constituido</label>
                                    <input type="text" class="form-control" id="validationDefault04"
                                        placeholder="Direccion" required>
                                </div>
                                <label>Domicilio y datos de georreferenciamiento del/de los predios donde se desarrolla
                                    la producción (consignar longitud y
                                    latitud y adjuntar mapa):</label>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Domicilio</th>
                                            <th>Latitud</th>
                                            <th>Longitud</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container"><br><strong>Listado de producto/s para los cuales se solicita
                                    autorización /ampliación</strong><br><br></div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Producto</th>
                                        <th>Producto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                        <td><input type="text" class="form-control" id="validationDefault05"
                                                placeholder="Producto" required></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>Breve descripción del proceso de elaboración de cada uno de los productos que se desea incluir en la
                                        autorización / ampliación de uso temporario del Sello “Producido por la Agricultura Familiar”</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="100"
                                        placeholder="Describir el proceso productivo enfatizando los aspectos productivos, socio organizacionales y/o económicos, característicos de la Agricultura Familiar. Nombrar los atributos que distinguen el/la productor/a o la organización, el/la técnico/a y/o la comunidad.
        A modo de guía, considerar:
        Para aspectos productivos:
            ● Insumos utilizados: cuáles y procedencia. Considerar el origen de la materia prima utilizada (la MP principal debe tener origen en el solicitante). Utilización de aditivos, etc.
            ● Proceso y equipamiento utilizados.
            ● Tipo de envasado y envases.
            ● Si resulta facilitador, es posible añadir un diagrama de flujo desde materia prima a producto elaborado final, indicando las etapas y procesos a los que es sometida la materia prima.
        Para atributos socio organizacionales:
            ● Modo de organización y gestión del trabajo, modalidad de la toma de decisiones, participantes.
        Enfoque de género, de generación e intercultural.
            ● Utilización de conocimientos ancestrales, de los usos y costumbres de la región, de conocimientos adquiridos en la experiencia reciente en los diferentes eslabones de la cadena.
            ● Relación con el ambiente, la tierra, el agua, los bosques, etc.
        Para atributos económicos:
            ● Participación económica del/los producto/s para el/los que se solicita el SelloAF en la economía familiar."></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>¿QUIÉNES INTERVIENEN EN EL PROCESO PRODUCTIVO?</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"
                                        placeholder="Identificar a los/as diferentes participantes, incluido/a el/la solicitante. Describir el vínculo con el/la solicitante y el rol en el proceso productivo y señalar las tareas realizadas. Explicitar la participación de mujeres y jóvenes y detallar la particularidad de su rol o tareas. En el caso de empleados, describir la modalidad y temporalidad de la contratación."></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>ESTIMACIÓN DE LOS VOLÚMENES TOTALES DE PRODUCCIÓN INVOLUCRADOS </strong><em>(en base a datos de años precedentes
                                        y/o en función de proyecciones de crecimiento que surjan de los planes del solicitante):</em></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>OBSERVACIONES Y/O COMENTARIOS DEL/DE LA TÉCNICO/A HABILITADO/A</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"></textarea>
                                </div>
                            </div>
                            <div class="container"><br><strong>ADJUNTA ANEXOS</strong><br><br></div>                            
                            <div class="container">
                                <div class="form-row">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <label>FOTGRAFIAS</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline5" name="customRadioInline3"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline5">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline6" name="customRadioInline3"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline6">No</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <label for="myfile">Seleccione un archivo:</label>
                                        <input type="file" id="myfile" name="myfile">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>                            
                            <div class="form-group">
                                <label for="formGroupExampleInput"><strong>Fecha de Firma</strong></label>
                                <input type="date" class="form-control" id="formGroupExampleInput"
                                    placeholder="Example input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Informe Tecnico para Puntos de Venta
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body" id="label">
                        <div class="form-row align-items-center">
                            <div class="container">
                                <strong>ANEXO V<br>
                                    INFORME TÉCNICO PARA PUNTOS DE VENTA<br>
                                    ACOMPAÑA A LA DECLARACION JURADA</strong><br><br>
                            </div>
                            <div class="container"><br><strong>DATOS DEL PRODUCTOR, LA PRODUCTORA O LA
                                    ORGANIZACION</strong><br><br></div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault01">Nombre</label>
                                    <input type="text" class="form-control" id="validationDefault01"
                                        placeholder="Nombre" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Apellido</label>
                                    <input type="text" class="form-control" id="validationDefault02"
                                        placeholder="Apellido" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">Razon Social <em>(Organizacion)</em></label>
                                    <input type="text" class="form-control" id="validationDefault02"
                                        placeholder="Razon Social" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault04">DNI <em>(Individual)</em></label>
                                    <input type="text" class="form-control" id="validationDefault04" placeholder="DNI"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">CUIT</label>
                                    <input type="text" class="form-control" id="validationDefault05" placeholder="CUIT"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Correo Electronico</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Correo Electronico" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Telefono Movil</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Telefono Movil" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault05">Telefono Fijo</label>
                                    <input type="text" class="form-control" id="validationDefault05"
                                        placeholder="Telefono Fijo" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault04">Domicilio constituido</label>
                                    <input type="text" class="form-control" id="validationDefault04"
                                        placeholder="Direccion" required>
                                </div>
                                <label>Domicilio y datos de georreferenciamiento del Punto de Venta (consignar longitud y
                                    latitud y adjuntar mapa):</label>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Domicilio</th>
                                            <th>Latitud</th>
                                            <th>Longitud</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>                                            
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="validationDefault04"
                                                placeholder="Direccion" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Latitud" required></td>
                                            <td><input type="text" class="form-control" id="validationDefault05"
                                                    placeholder="Longitud" required></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault01">Nombre</label>
                                        <input type="text" class="form-control" id="validationDefault01"
                                            placeholder="Nombre" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">Apellido</label>
                                        <input type="text" class="form-control" id="validationDefault02"
                                            placeholder="Apellido" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">Razon Social <em>(Organizacion)</em></label>
                                        <input type="text" class="form-control" id="validationDefault02"
                                            placeholder="Razon Social" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault04">DNI <em>(Individual)</em></label>
                                        <input type="text" class="form-control" id="validationDefault04" placeholder="DNI"
                                            required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault05">CUIT</label>
                                        <input type="text" class="form-control" id="validationDefault05" placeholder="CUIT"
                                            required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault05">Correo Electronico</label>
                                        <input type="text" class="form-control" id="validationDefault05"
                                            placeholder="Correo Electronico" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault05">Telefono Movil</label>
                                        <input type="text" class="form-control" id="validationDefault05"
                                            placeholder="Telefono Movil" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault05">Telefono Fijo</label>
                                        <input type="text" class="form-control" id="validationDefault05"
                                            placeholder="Telefono Fijo" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault04">Domicilio constituido</label>
                                        <input type="text" class="form-control" id="validationDefault04"
                                            placeholder="Direccion" required>
                                    </div>
                                    <label>Domicilio y datos de georreferenciamiento del Punto de Venta (consignar longitud y
                                        latitud y adjuntar mapa):</label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Domicilio</th>
                                                <th>Latitud</th>
                                                <th>Longitud</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" id="validationDefault04"
                                                    placeholder="Direccion" required></td>
                                                <td><input type="text" class="form-control" id="validationDefault05"
                                                        placeholder="Latitud" required></td>
                                                <td><input type="text" class="form-control" id="validationDefault05"
                                                        placeholder="Longitud" required></td>                                            
                                            </tr>
                                            <tr>
                                                <td><input type="text" class="form-control" id="validationDefault04"
                                                    placeholder="Direccion" required></td>
                                                <td><input type="text" class="form-control" id="validationDefault05"
                                                        placeholder="Latitud" required></td>
                                                <td><input type="text" class="form-control" id="validationDefault05"
                                                        placeholder="Longitud" required></td>
                                            </tr>
                                            <tr>
                                                <td><input type="text" class="form-control" id="validationDefault04"
                                                    placeholder="Direccion" required></td>
                                                <td><input type="text" class="form-control" id="validationDefault05"
                                                        placeholder="Latitud" required></td>
                                                <td><input type="text" class="form-control" id="validationDefault05"
                                                        placeholder="Longitud" required></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault04">Nombre Punto de Venta</label>
                                        <input type="text" class="form-control" id="validationDefault04"
                                            placeholder="Direccion" required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault04">Codigo Punto de Venta</label>
                                        <input type="text" class="form-control" id="validationDefault04"
                                            placeholder="Direccion" required>
                                    </div>
                                </div>
                            </div>                           
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>BREVE DESCRIPCIÓN DEL PUNTO DE VENTA PARA EL QUE SE SOLICITA AUTORIZACIÓN DE USO
                                        TEMPORARIO DEL SELLO “PRODUCIDO POR LA AGRICULTURA FAMILIAR”</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="100"
                                        placeholder="Describir las características físicas del punto de venta y el tipo (casa, local, feria, mercado, etc.). Cantidad de puestos que lo componen (si corresponde). Origen y antigüedad. Indicar si es fijo o móvil, si es permanente o periódico, la frecuencia y los días y horarios de apertura (si corresponde) y la cantidad de personas que intervienen en los procesos de venta. Identificar los productos que se ofrecen.
                                        
Aspectos relativos a la preservación de la inocuidad y sanidad de los productos. Almacenamiento, superficie disponible, capacidad de frío, stock, preservación de los productos de origen animal, vegetal, elaborados. Indicar organismo de control bromatológico sanitario que habilita y fiscaliza los productos comercializados, y modalidad y frecuencia de control.

Describir brevemente el contexto y las condiciones en que se encuentra instalado, características del acceso. Identificación del origen y tipo de público visitante y estimación de la afluencia mensual. A quién pertenece, la modalidad contractual por la que está en gestión del/de la solicitante. Detallar las estrategias de comercialización de los productos y de visibilización del punto de venta. Articulación interinstitucional. Vinculación con el turismo rural.
                                        
Describir el modelo de gestión, las características socio organizacionales, la distribución de tareas y roles (atención al público, promoción de productos, cobranza, etc.); especificar diferencias por género y edad. Identificar cuál es el aporte de las ventas en este Punto a la economía familiar de los/as productores/as involucrados/as."></textarea>
                                </div>
                            </div>
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>¿QUIÉNES ESTÁN A CARGO DEL PUNTO DE VENTA?</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"
                                        ></textarea>
                                </div>
                            </div>                            
                            <div class="container">
                                <br>
                                <div class="form-row">
                                    <label for="validationDefault05"><strong>OBSERVACIONES Y/O COMENTARIOS DEL/DE LA TÉCNICO/A HABILITADO/A</strong></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100"></textarea>
                                </div>
                            </div>                            
                            <br>
                            <br>                            
                            <div class="form-group">
                                <label for="formGroupExampleInput"><strong>Fecha de Firma</strong></label>
                                <input type="date" class="form-control" id="formGroupExampleInput"
                                    placeholder="Example input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>