<body>
    <tbody *ngIf="confirmacion">
        <div id="confirmacion">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" routerLink="../../usuarios/home">&times;</button>
            <strong>Compra registrada correctamente!</strong> 
        </div>
        </div>
    </tbody>
    <tbody *ngIf="error">
        <div id="error">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error: verifique los datos ingresados!</strong> 
        </div>
        </div>
    </tbody>
    <table class="table table-dark table-striped table-hover">
        <thead class="thead-light">
            <th >Articulo</th>
            <th >Descripción</th> 
            <th >Precio</th>
            <th >Cantidad</th>
            <th >Subtotal</th>
        </thead>
            <tbody *ngIf="carrito.length > 0; else fila">
                <tr *ngFor=" let compra of carrito; let i= index">
                <td>{{compra.id}}</td>
                <td>{{compra.nombre}}</td>
                <td>{{compra.precio}}</td>
                <td>{{compra.cantidad}}</td>            
                <td>{{compra.subtotal}}</td>
                </tr>
            </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="5">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
            <tr class="total">
            <th class="total" colspan="4">Total</th>            
                <td>{{total}}</td>              
            </tr>     
  </table>
    <h4>Dirección de Entrega</h4>
    <form (submit)="registrar()">
        <div class="input-group" id="carga">  
            <input type="text" class="mr-3" name="calle" [(ngModel)]="datos.calle" placeholder="Calle">                
            <input type="number" min="1" max="50000" name="altura" [(ngModel)]="datos.altura" step="1" placeholder="Altura">
            <div *ngIf="!vacio">
                <button class="btn btn-success ml-3 btn-sm" (click)="verificarForm()">Confirmar Compra</button>
            </div>
            <div *ngIf="vacio">
                <button class="btn btn-success ml-3 btn-sm" (click)="verificarForm()" disabled>Confirmar Compra</button>
            </div>
        </div>  
    </form>
    <div class="input-group">  
        <div [ngSwitch]="errorCalle" id="mensaje">
            <div *ngSwitchCase="1" class="mr-5">Debes ingresar la calle</div>
            <div *ngSwitchCase="2" class="mr-5">El nombre de la calle no debe ser menor a 2 y mayor a 50 caracteres.</div>
            <div *ngSwitchCase="3" class="mr-5">El nombre de la calle debe contener letras, numeros, ´ / ° ñ . </div>
        </div>
        <div [ngSwitch]="errorAltura">
            <div *ngSwitchCase="1">Debes ingresar la altura</div>
            <div *ngSwitchCase="2">La altura debe ser numérica y debe tener entre 1 y 5 dígitos</div>
            <div *ngSwitchCase="3">La altura no puede ser 0 ni mayor a 50000</div>
        </div>
    </div>
    <button class="btn btn-dark mr-3" id="botones" routerLink="../../articulos/listar">Volver</button>
    <button class="btn btn-danger" id="botones" (click)="logout()">Salir</button>
</body>
