<body>
    <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
            <th>Id</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Comentario</th>
            <th>Titulo</th>
        </thead>
        <tbody *ngIf="comentarios.length > 0; else fila">
            <tr *ngFor=" let comentario of comentarios">
                <td>{{comentario.Id}}</td>
                <td>{{comentario.Usuario}}</td>
                <td>{{comentario.Fecha}}</td>
                <td>{{comentario.Comentario}}</td>
                <td>{{comentario.Imagen}}</td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="5">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    <table class="table table-light table-striped table-hover">
        <tr>
            <form (submit)="cargarArchivo()">
                <td><input type="file" name="files" (change)="SeleccionArchivo($event)"></td>
                <td><button class="btn btn-primary btn-block">Guardar </button></td>
            </form>
        </tr>
    </table>
    <button class="btn btn-dark mr-3" id="botones" routerLink="../../usuarios/home">Volver</button>
</body>