<body>
    <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
            <th>Id</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Comentario</th>
            <th>Titulo</th>
        </thead>
        <tbody *ngIf="comentarios.length > 0; else fila">
            <tr *ngFor=" let comentario of comentarios">
                <td>{{comentario.Id}}</td>
                <td>{{comentario.Usuario}}</td>
                <td>{{comentario.Fecha}}</td>
                <td>{{comentario.Comentario}}</td>
                <td>{{comentario.Imagen}}</td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="5">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    <form (submit)="cargarArchivo()">
        <table class="table table-light table-striped table-hover">
            <tr>
                <td><input type="file" name="files" (change)="SeleccionArchivo($event)"></td>
                <td><button class="btn btn-primary btn-block">Guardar </button></td>
            </tr>
        </table>
    </form>
    <div class="row">
        <div class="col md-4 P-4"  *ngFor="let foto of fotos">
            <div class="card">
                <div class="card-header">
                    {{foto.NombreOriginal}}
                </div>
                <img [src]="'http://localhost:3000/' + foto.Path" style="width:100px;height: 350px;" class="img-card-top w-100">
            </div>
        </div>
    </div>
    <button class="btn btn-dark mr-3" id="botones" routerLink="../../usuarios/home">Volver</button>
</body>